
//
// Box creates a box around the elemet(s).
// Nice to have for development
// ----------------------------------------------------------------------------------
box(box-color = cyan) {
  border: 1px dotted box-color;
  background: rgba(box-color, 0.15);
}
