
//
// Basic button 
//
// ----------------------------------------------------------------------------------

button(font-size = 1em, line-height = 1, font-weight = normal) {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  margin-bottom: 0;
  background-color: transparent;
  background-image: none;
  white-space: nowrap;
  user-select: none;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  font-size: font-size;
  line-height: line-height;
  font-weight: font-weight;
}
