
//
// Main content width 
//
// Keep a consistent width on your main content
// ----------------------------------------------------------------------------------

main-content(max-width = 1268px, padding = 1.5rem) {
  padding-left: padding;
  padding-right: padding;
  width: 100%;
  max-width: max-width;
  margin: 0 auto;
}
