
//
// Calculate percentages
//
// Simple method for calculating percentages from fractions.
// ----------------------------------------------------------------------------------

percentage(value) {
  return floor(((value) * 100)%, 3);
}
